<section id="stats" class="stats-section">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="stat-card">
          <div class="stat-number" data-count="<%= stats.totalGrievances %>">
            <%= stats.totalGrievances %>
          </div>
          <h6>Total Grievances</h6>
        </div>
      </div>

      <div class="col-md-3">
        <div class="stat-card">
          <div class="stat-number text-success" data-count="<%= stats.resolved %>">
            <%= stats.resolved %>
          </div>
          <h6>Resolved</h6>
        </div>
      </div>

      <div class="col-md-3">
        <div class="stat-card">
          <div class="stat-number text-warning" data-count="<%= stats.inProgress %>">
            <%= stats.inProgress %>
          </div>
          <h6>In Progress</h6>
        </div>
      </div>

      <div class="col-md-3">
        <div class="stat-card">
          <div class="stat-number text-info" data-count="<%= stats.avgResolution %>">
            <%= stats.avgResolution %>
          </div>
          <h6>Avg. Resolution (hrs)</h6>
        </div>
      </div>

    </div>
  </div>
</section>
